.centered {
  display: flex;
  justify-content: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.anchor {
  padding-top: 120px;
  z-index: 10;
}

@media only screen and (max-width: 992px) {
  .carousel-sm {
    max-width: 100%;
    flex: auto;
  }

  .textImage-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
