<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-on-top">
  <a class="navbar-brand" href="#"
    ><img id="logo" src="../../../assets/LogoCernunAlt.png"
  /></a>

  <button id="myBtn" (click)="myFunction()">Pause</button>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="#Modélisation 3D"
          >Modélisation 3D <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Concept Art">Concept-Art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Projets">Projets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Musique">Musique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#A propos de moi">About me</a>
      </li>
    </ul>
  </div>
  <script>
    // Get the video
    var video = document.getElementById('myVideo');

    // Get the button
    var btn = document.getElementById('myBtn');

    // Pause and play the video, and change the button text
    function myFunction() {
      if (video.paused) {
        video.play();
        btn.innerHTML = 'Pause';
      } else {
        video.pause();
        btn.innerHTML = 'Play';
      }
    }
  </script>
</nav>
